.verticalButton {
	margin: 8px 10px 8px 0;
}

.top-head {
//	background: linear-gradient($darkgrey, $grey);
	background-color: $navy;
}

.logo-img {
	display: inline;
	height: 60px;
	margin-left: 20px;
//	margin-bottom: 10px;
	padding-bottom: 10px;
}

.h1-font-margin {
	margin: 0;
	padding-right: 50px;
	color: $grey;
}