.verticalButton {
	margin: 20px 10px 10px 0;
}

.top-head {
	background: linear-gradient($darkgrey, $grey);
}

.logo-img {
	display: inline;
	height: 76px;
	margin-right: 20px;
//	margin-bottom: 10px;
	padding-bottom: 10px;
}

.h1-font-margin {
	margin: 0;
	padding-right: 50px;
}