.nav {
	background-color: $navy;
	border-top: 2px solid $navy;
	border-bottom: 2px solid $navy;
}

nav a {
	font-family: $header;
	color: $white;
	font-size: 1.2em;
}

.breadcrum {
	font-size: 1.4em;
}

.active {
	font-family: $header;
	color: $white;
	font-size: inherit;
}

.footer-nav a {
	color: $navy;
	font-family: $header;
}

.footer-nav {
	background-color: $grey;
	font-size: 1.4em;
}