@import url(https://fonts.googleapis.com/css?family=Roboto:400,700italic);
@import url(https://fonts.googleapis.com/css?family=Courgette);
@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe);

$logo-font: 'Mr Dafoe', cursive;;
$body-text: 'Roboto', sans-serif;
$header: 'Courgette', cursive;

.logo-font {
	display: block;
	color: $navy;
	font-family: $logo-font;
	font-size: 4.2em;
	text-shadow: 2px 2px 2px $darkgrey;
}

.header-font {
	display: block;
	font-family: $header;
}

h3 {
	font-family: $header;
	font-size: 3.6em;
	color: $navy;
}

p {
	font-family: $body-text;
}

#formula {
	display: block;
	width: 100%;
	font-family: $body-text;
	font-size: 2em;
	line-height: 1.6em;
	text-align: center;
	font-weight: bold;
	margin-bottom: 30px;
}

.footer-text {
	font-family: $body-text;
	font-size: 1.4em;
}